name: "QA"

on:
  pull_request:
    branches: 
    - master
    paths:
    - '**/Dockerfile'

jobs:
  v4:
    name: Dockerfile-Linting
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Pull HaDoLint image
      run: docker pull hadolint/hadolint
    - name: Lint Dockerfile
      run: docker run --rm --interactive hadolint/hadolint hadolint --ignore DL3008 - < ./4/Dockerfile
